@model IEnumerable<MoneyTemplateMVC.Models.ViewModels.MoneyViewModel>
@{
    Layout = "";
}
<table class="table table-bordered table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            
        </th>
    </tr>
    @{
        int serialNumber = 1;
        foreach (var item in Model)
        {
    <tr>
        <td>
            @serialNumber
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Category)*@
            @Amount.DispalyCategoryColor(item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime, "DateTimeFormat")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount, "MoneyFomat")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id})
        </td>
    </tr>
            serialNumber++;
        }
    }
</table>


